* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

.header {
    background-color: teal;
    color: white;
    padding: 1rem 10%;
    height: 500px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}
.hero-image {
    flex: 1;
    display: flex;
    align-items: right;
    justify-content: right;
    color: white;
}
.hero{
    flex: 1;
    font-size: 2rem;

}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container{
    width: 150px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 5px yellow;
    align-items: center;
    gap: 20px;
    
    
}

.box{
    border: 5px solid salmon ;
    padding: 10px;
    width: 500px;
    height: 240px;
 
    

   
}
.box img, p{
    align-items: center;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.box img{
    width: 400px;
    height: 215px;
}
h2{
    text-align: center;
}

.container2{
    height: 100vh;
}
p{
    margin: auto;
}